/*
=============
GLOBAL STYLES
=============
*/

* {
    font-family: arial, sans-serif;
    color: black;
    box-sizing: border-box;
}


/*
==========
TAG STYLES
==========
*/

h3 {
    font-size: 12pt;
    font-weight: bold;
}

form {
    background-color: #e9ecef;
    margin-bottom: 20px;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid gray;
    margin: 10px 0 10px 0;
}

td {
    height: 50px;
    padding: 10px 0 10px 0;
}


/*
===================
FORM ELEMENT STYLES
===================
*/

.form-inline-container {
    display: flex;
}

.form-inline-container > input {
    margin-right: 20px;
}

.btn-width-150 {
    width: 150px;
    min-width: 150px;
}


/*
=========================
BOOTSTRAP OVERRIDE STYLES
=========================
*/

.form-control, .btn {
    display: inline-block !important;
    height: 50px !important;
    max-height: 50px !important;
    vertical-align: unset !important;
}

.navbar {
    display: block !important
}